<!-- Homepage elements -->
<div class="d-flex justify-content-between align-items-center mx-4 my-2">
    <button class="btn btn-info" (click)="toOldStatsPage()">Old stats</button>
    <button class="btn btn-info" (click)="toLogsPage()">Logs</button>
    <button class="btn btn-info">Admin</button>
    <button class="btn btn-info">Settings</button>
</div>
<div class="d-flex justify-content-between align-items-center mx-4 my-2">
    <p class="p-0 m-0 font-weight-bold animate-character">{{value}}</p>
    <div class="d-flex justify-content-center align-items-center mx-4 my-2">
        <span class="font-weight-bold">Show :</span>
        <select (change)="updateValue()" [(ngModel)]="viewBy" class="mr-3 ml-2">
            <option value="day">By Date</option>
            <option value="week">By Week</option>
            <option value="month">By Month</option>
        </select>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th class="text-center" scope="col" align="center" width="10%">#</th>
            <th class="text-center" scope="col" align="center" width="25%">Payer</th>
            <th class="text-center" scope="col" align="center" width="35%">For</th>
            <th class="text-center" scope="col" align="center" width="20%">Amount</th>
            <th class="text-center" scope="col" align="center" width="10%">Paid</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of transactions;let index=index">
            <td *ngIf="t.isTransaction" align="center" width="10%" scope="row" (click)="detailedTransaction(index)"
                data-toggle="modal" data-target="#detailedTransactionModal">{{t.index}}</td>
            <td *ngIf="t.isTransaction" align="center" width="25%" (click)="detailedTransaction(index)"
                data-toggle="modal" data-target="#detailedTransactionModal">{{t.firstName}}</td>
            <td *ngIf="t.isTransaction" align="center" width="35%" (click)="detailedTransaction(index)"
                data-toggle="modal" data-target="#detailedTransactionModal">
                {{t.for.length>9?t.for.substring(0,5)+"...":t.for}}
            </td>
            <td *ngIf="t.isTransaction" align="center" width="20%" (click)="detailedTransaction(index)"
                data-toggle="modal" data-target="#detailedTransactionModal">{{t.amount}}</td>
            <td *ngIf="t.isTransaction" align="center" width="10%"><input [disabled]="!isAdmin || t.isPaidBack"
                    (click)="updateTransaction(t._id,t.index-1)" type="checkbox" [(ngModel)]="t.isPaidBack" /></td>
            <td *ngIf="!t.isTransaction && viewBy!='day'" class="text-info font-weight-bold" colspan="5" align="center"
                width="100vw">{{t.date}}</td>
        </tr>
    </tbody>
</table>
<div class="d-flex align-items-center w-100">
    <div style="width: 10%;"></div>
    <input class="text-center" style="width: 25%; font-weight: bold;" disabled [(ngModel)]="name" />
    <input style="width: 23%; margin: 0 1%;" placeholder="Oil 1 LTR" [(ngModel)]="for" />
    <input style="width: 18%; margin: 0 1%;" placeholder="₹ 80 /-" [(ngModel)]="amountforTransaction" />
    <div style="width: 18%; margin: 0 1%;">
        <button style="width: 100%;" (click)="addTransaction()" class="btn btn-info">Post</button>
    </div>
</div>
<div class="d-flex justify-content-center mt-5">
    <h3>Balance:<span style="font-weight: bolder;"
            [ngClass]="isSufficient?'text-success':availableBalance==0?'text-info':'text-danger'" class="small"><span
                style="font-size: x-large;">
                ₹</span>{{availableBalance}}</span></h3>
</div>
<div class="d-flex justify-content-center mt-5">
    <h1>Spend-o-meter:<span *ngIf="spendStatus!=0"><span class="text-danger" *ngIf="spendStatus==1"> <i
                    class="bi bi-arrow-up statusAnim"></i></span><span class="text-primary statusAnim"
                *ngIf="spendStatus==2"> -</span><span class="text-success statusAnim" *ngIf="spendStatus==3"> <i
                    class="bi bi-arrow-down"></i></span></span></h1>
</div>
<div class="d-flex flex-column justify-content-center align-items-center mt-5">
    <div *ngFor="let data of dueDetailsOfUser" class="d-flex justify-content-center align-items-center mb-2">
        <ng-container *ngIf="data.user!='Sriharan'">
            <p class="mb-0">{{data.admin}} needs to return <span style="font-weight: bolder;">₹
                    {{data.dueAmount}}</span> to {{data.user}}.</p>
            <button *ngIf="isAdmin" [disabled]="data.dueAmount==0" class="btn btn-sm btn-info ml-2" (click)="clearDues(data.userId)">Clear</button>
        </ng-container>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center mt-2">
    <button data-toggle="modal" data-target="#creditBookModal" Launch demo modal class="btn btn-info mb-2"
        *ngIf="isAdmin">Creditbook</button>
</div>
<!-- Add credit modal -->
<div class="modal fade" id="creditBookModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">Add credit transaction</h5>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between align-items-center">
                    <select style="height: 30px;" [(ngModel)]="selectedUserId">
                        <option *ngFor="let u of users" value="{{u._id}}">{{u.firstName}}</option>
                    </select>
                    <input style="width: 30vw;" type="number" placeholder=" ₹ 10000" class="on"
                        [(ngModel)]="creditBalance">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-info" (click)="addBalance()" data-dismiss="modal">Add Balance</button>
            </div>
        </div>
    </div>
</div>
<!-- Detailed transaction modal -->
<div *ngIf="detailedIndex!=null" class="modal fade" id="detailedTransactionModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-between align-items-center my-4">
                    <span>{{transactions[detailedIndex].firstName}}</span>
                    <span>{{transactions[detailedIndex].for}}</span>
                    <span>{{transactions[detailedIndex].amount}}</span>
                </div>
                <div *ngIf="selectedUserId==id" class="mt-2 d-flex align-items-center justify-content-around">
                    <button class="btn btn-info" data-toggle="modal" data-target="#editTransactionModal"
                        data-dismiss="modal" (click)="populateEditModal()">Edit
                    </button>
                    <button class="btn btn-info" (click)="addCurrentDateForTransaction()" data-toggle="modal"
                        data-dismiss="modal" data-target="#editDateModal">Change Date</button>
                    <button class="btn btn-danger" data-toggle="modal" data-dismiss="modal"
                        (click)="deleteTransaction()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Edit transaction modal -->
<div *ngIf="detailedIndex!=null" class="modal fade" id="editTransactionModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-between align-items-center my-4">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <span>{{transactions[detailedIndex].firstName}}</span>
                        <input type="text" class="on" [(ngModel)]="for">
                        <input type="number" class="on" [(ngModel)]="amountforTransaction">
                    </div>
                </div>
                <div class="mt-2 d-flex align-items-center justify-content-center">
                    <button class="btn btn-info" (click)="updateUserTransaction()" data-dismiss="modal">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Change Date modal -->
<div *ngIf="detailedIndex!=null" class="modal fade" id="editDateModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-between align-items-center my-4">
                    <div class="d-flex justify-content-center align-items-center w-100">
                        <input type="date" class="on" [(ngModel)]="newDateForChange">
                    </div>
                </div>
                <div class="mt-2 d-flex align-items-center justify-content-center">
                    <button class="btn btn-info" (click)="updateUserTransactionDate()"
                        data-dismiss="modal">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>