<div class="d-flex justify-content-between align-items-center mx-4 my-2">
    <button class="btn btn-info" (click)="toOldStatsPage()">Old stats</button>
    <button class="btn btn-info" (click)="toLogsPage()">Logs</button>
    <button class="btn btn-info">Admin</button>
    <button class="btn btn-info">Settings</button>
</div>
<div class="d-flex justify-content-between align-items-center mx-4 my-2">
    <p class="p-0 m-0 font-weight-bold animate-character">{{value}}</p>
    <div class="d-flex justify-content-center align-items-center mx-4 my-2">
        <span class="font-weight-bold">Show :</span>
        <select (change)="updateValue()" [(ngModel)]="viewBy" class="mr-3 ml-2">
            <option value="1">By Date</option>
            <option value="2">By Week</option>
            <option value="3">By Month</option>
        </select>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th class="text-center" scope="col" align="center" width="10%">#</th>
            <th class="text-center" scope="col" align="center" width="25%">Payer</th>
            <th class="text-center" scope="col" align="center" width="25%">For</th>
            <th class="text-center" scope="col" align="center" width="20%">Amount</th>
            <th class="text-center" scope="col" align="center" width="20%">Is Paid</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of transactions;index as i">
            <th align="center" width="10%" scope="row">{{i+1}}</th>
            <td align="center" width="25%">{{t.firstName}}</td>
            <td align="center" width="25%">{{t.for}}</td>
            <td align="center" width="20%">{{t.amount}}</td>
            <td align="center" width="20%"><input [disabled]="!isAdmin" type="checkbox" [(ngModel)]="t.isPaidBack" /></td>
        </tr>
    </tbody>
</table>
<div class="d-flex align-items-center w-100">
    <div style="width: 10%;"></div>
    <input class="text-center" style="width: 25%; font-weight: bold;" disabled [(ngModel)]="name" />
    <input style="width: 23%; margin: 0 1%;" placeholder="Oil 1 LTR" [(ngModel)]="for" />
    <input style="width: 18%; margin: 0 1%;" placeholder="₹ 80 /-" [(ngModel)]="amountforTransaction"/>
    <div style="width: 18%; margin: 0 1%;">
        <button style="width: 100%;" (click)="addTransaction()" class="btn btn-info">Post</button>
    </div>
</div>
<div class="d-flex justify-content-center mt-5">
    <h3>Balance:<span style="font-weight: bolder;" [ngClass]="isSufficient?'text-success':'text-danger'"
            class="small"><span style="font-size: x-large;"> ₹</span>16450</span></h3>
</div>
<div class="d-flex justify-content-center mt-5">
    <h1>Spend-o-meter:<span class="text-danger" *ngIf="spendStatus==1"> <i class="bi bi-arrow-up statusAnim"></i></span><span class="text-primary statusAnim" *ngIf="spendStatus==2"> -</span><span class="text-success statusAnim" *ngIf="spendStatus==3"> <i class="bi bi-arrow-down"></i></span></h1>
</div>
<div class="d-flex flex-column justify-content-center align-items-center mt-5">
    <h5>{{admin}} needs to return <span style="font-weight: bolder;">₹ {{amount[0]}}</span> to {{flatmate[0]}}.</h5>
    <h5>{{admin}} needs to return <span style="font-weight: bolder;">₹ {{amount[1]}}</span> to {{flatmate[1]}}.</h5>
</div>